.list-container {
    padding: 5% 10%;
    min-height: 80vh;
    .list-container-header {
        display: flex;
        justify-content: space-between;
    }
    .MuiList-root {
        width: 100%;
        max-width: unset;
        li {
            border: .5px solid #D5DFE9;
            margin-bottom: 12px;
            > div {
                padding: 24px 21px;
            }
            button.delete {
                margin-left: 8px;
            }
            &.completed {
                text-decoration: line-through;
            }
        }
    }
    .noitems-container {
        border-radius: 5px;
        border: 1px solid #C6C6C6;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner-container {
            text-align: center;
            h3 {
                color: #87898C;
                font-family: 'Nunito', sans-serif;
            }
            button {
                margin-top: 24px;
            }
        }
    }
}